{% load static %}
{% load home_extras %}

  <link rel="shortcut icon" href="{% get_attribute 'STATIC_URL' %}main/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{% get_attribute 'STATIC_URL' %}main/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="{% get_attribute 'STATIC_URL' %}main/css/bootstrap.css"/>
    <link rel="stylesheet" href="{% get_attribute 'STATIC_URL' %}main/css/daterangepicker.css"/>
    <link rel="stylesheet" href="{% get_attribute 'STATIC_URL' %}main/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" href="{% get_attribute 'STATIC_URL' %}main/css/css-stars.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.1.1/css/tabulator.min.css">
    <!---->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% get_attribute 'STATIC_URL' %}main/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="{% get_attribute 'STATIC_URL' %}main/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="{% get_attribute 'STATIC_URL' %}main/js/bootstrap.js"></script>
    <script type="text/javascript" src="{% get_attribute 'STATIC_URL' %}main/js/jquery.barrating1.js"></script>
    <script type="text/javascript" src="{% get_attribute 'STATIC_URL' %}main/js/cookiesattention.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.1.1/js/tabulator.min.js"></script>
    <script type="text/javascript" src="{% get_attribute 'STATIC_URL' %}main/js/tabulator.js"></script>

    <!---->
