{% load home_extras %}

<div class="" style=" background-color: #edeef0">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a href="{% get_attribute 'HOME_PAGE' %}" class="article txt-bold" style="margin-left: -12pt">vseEXPO</a>
            <a class="nav-link ml-4 mt-1 text-menu" style="color: #1e1e1e;"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{% get_attribute 'COMPANY_PHONE' %}</a>
            <a class="nav-link ml-4 mt-1 text-menu" style="color: #1e1e1e;"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;{% get_attribute 'COMPANY_EMAIL' %} </a>
            <ul class="navbar-nav ml-auto">

                {% if user.is_active %}
                    <a class="nav-link ml-4 mt-1 text-menu" style="color: #1e1e1e;" href="/responses">
                        {{user|getnameresponse}} <span class="badge badge-pill badge-danger">{{user|getnewresponse}}</span>
                    </a>
                    <a class="nav-link ml-4 mt-1 text-menu" style="color: #1e1e1e;" href="/dialogs">
                        Сообщения <span class="badge badge-pill badge-danger">{{user|getactualmessage}}</span>
                    </a>
                    <li class="nav-item dropdown mt-1">
                        <a class="nav-link dropdown-toggle text-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="">
                            <img src="{{user|getresizelink}}" class="rounded-circle z-depth-0" alt="avatar image" style="max-height: 30px">
                            {{user|getname}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_active %}
                                <a class="dropdown-item waves-effect waves-light text-menu" href="/worker/settings/">Настройки</a>
                                <a class="dropdown-item text-menu" href="/accounts/logout/">Выйти</a>
                            {% else %}
                                <a class="dropdown-item text-menu" href="/accounts/login/">Войти</a>
                            {% endif %}
                        </div>
                    </li>
                {% else %}
                    <div class="pb-2 pt-2">
                        <a href="/accounts/signup_change/" type="" class="btn btn-danger">Стать партнером</a>
                    </div>
                {% endif %}
            </ul>
        </nav>

    </div>
</div>

<div class="nav" style="background-color: #575759">
    <div class="container">
        <ul class="nav"><!--ml-3-->
            <li class="nav-item pt-2 nav-item-header">
                <a class="txt-bold nav-link text-white text-menu {% if request.path == '/'%}nav-item-expo-active{% endif %}" href="{% get_attribute 'HOME_PAGE' %}" role="button">ГЛАВНАЯ</a>
            </li>
            <li class="nav-item pt-2 nav-item-header">
                <a class="txt-bold nav-link text-white text-menu {% if request.path == '/worker/search/'%}nav-item-expo-active{% endif %}" href="{% get_attribute 'HOME_PAGE' %}worker/search/" role="button">СПЕЦИАЛИСТЫ</a>
            </li>
            <li class="nav-item pt-2 nav-item-header">
                <a class="txt-bold nav-link text-white text-menu {% if request.path == '/companys/'%}nav-item-expo-active{% endif %}" href="{% get_attribute 'HOME_PAGE' %}companys/" role="button">КОМПАНИИ</a>
            </li>
            <li class="nav-item pt-2 nav-item-header">
                <a class="txt-bold nav-link text-white text-menu {% if request.path == '/jobs/'%}nav-item-expo-active{% endif %}" href="{% get_attribute 'HOME_PAGE' %}jobs/" role="button">ЗАКАЗЫ</a>
            </li>
            <li class="nav-item pt-2 nav-item-header">
                <a class="txt-bold nav-link text-white text-menu {% if request.path == '/news/'%}nav-item-expo-active{% endif %}" href="{% get_attribute 'HOME_PAGE' %}news/" role="button">СОБЫТИЯ</a>
            </li>
        </ul>
    </div>
</div>
