<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" >
    <title>EXPO</title>
    {% load static %}
    {% load home_extras %}
    {% include "includes/Links.html" %}
    {% include "includes/meter.html" %}
</head>
<body>

<style>

    html,
    body {
          height: 100%;
    }

    :root {
        --bg-color-grey: #EFEFEF;
        --text-color-dark: rgba(0,0,0,0.87);
        --color-dark-grey: #8E959C;
    }

    input{
        border-radius: 0px
    }

    .form-group, .custom-select, .btn, .form-control{
        border-radius: 0px
    }

    .popup-block{
        position: relative;
    }

    .bg-color-grey{
        background-color: #EFEFEF;
        color: #EFEFEF;;
    }
    .bg-color-dark-grey{
        background-color: #8E959C;
    }
    .txt-color-grey{
        color: #EFEFEF;
    }

    .color-dark-grey{
        color: #8E959C;
    }

    .txt-color-dark{
        color: rgba(0,0,0,0.87);
    }

    .btn-danger, .btn-danger-hover-white{
        background-color: #d21c43;/*#c82333;*/
        color: white;
        border-radius: 0px;
        font-weight: bold;

    }

    .text-danger{
        color: #d21c43;
    }

    .selector-div:hover{
        background-color: #d21c43;
        color: white;
    }

    .badge-danger{
        background-color: #d21c43;
    }

    .nav-item-footer:hover{
        border-bottom: 1px solid #d21c43;
    }

    .nav-item-footer-active{
        border-bottom: 1px solid #d21c43;
    }

    .nav-item-expo-active {
        border-bottom: 4px solid #d21c43/*#c82333;*/; /* Параметры рамки */
    }

    .selector-link{
        color: #313131;
    }

    .selector-link:hover{
        color: white;
    }

    .btn-danger-white{
        background-color: white;/*#c82333;*/
        color: #d21c43;
        border-radius: 0px;
        font-weight: bold;
        border-color: #d21c43;
    }

    .btn-danger-white:hover{
        color: #313131;/*#c82333;*/
        border-color: #313131;
    }

    .btn-danger:hover{
        background-color: #575759;/*#c82333;*/
        border-color: #313131;
    }

    .btn-danger-hover-white:hover{
        background-color: white/*#c82333;*/;
        color: #d21c43;
        border-color: #313131;
    }

    .txt-bold{
        font-weight: bold;
    }

    a.article:hover{
        color: #d21c43;
    }

    a.article{
        color: #1e1e1e;
        font-family: 'PT Sans', serif;
    }

    .nav-item-header:hover{
        background-color: #3b3b3b;
    }

    .nav-item-hover-white:hover{
        background-color: white;
    }
    span.article{
        color: #313131;
        font-weight: bold;
        font-family: 'PT Sans', serif;
    }
    label, .text-menu{
        color: var(--text-color-dark);
        font-family: 'Open Sans', sans-serif;
    }

    .text-menu-grey{
        color: #8E959C;
        font-family: 'Open Sans', sans-serif;
    }

    @media (min-width: 576px){
        .search-down {
            visibility: visible;
            height: 100%;
        }
        .search-down-div{
            visibility: hidden;
            height: 0px;
        }
    }

    @media (min-width: 768px) {
        label,.text-menu {
            font-size: 12px;
          }
        .article{
            font-size: 20px;
        }
        .article-sm{
            font-size: 16px;
        }
        .search-down {
            visibility: hidden;
            height: 0px;
        }
        .search-down-div{
            visibility: visible;
            height: 100%;
        }

    }
    @media (min-width: 992px) {
        label,.text-menu {
            font-size: 14px;
        }
        .article{
            font-size: 26px;
        }
        .article-sm{
            font-size: 20px;
        }
        .search-down {
            visibility: hidden;
            height: 0px;
        }
        .search-down-div{
            visibility: visible;
            height: 100%;
        }
    }
    @media (min-width: 1200px) {
        label, .text-menu {
            font-size: 16px;
        }
        .article {
            font-size: 32px;
        }
        .article-sm{
            font-size: 24px;
        }
        .search-down {
            visibility: hidden;
            height: 0px;
        }
        .search-down-div{
            visibility: visible;
            height: 100%;
        }
    }

    .badge-grey {
        color: #8E959C;
        background-color: #EFEFEF;
    }

</style>

    <div class="" id="wrap">
        <header class="sticky-top">
            {% include "includes/navbar.html" %}
        </header>
        <main>
            <div class="container mt-3 mb-3" style="height: 80vh;">

        <div class="card" style="height: 100%;">

            <div class="card-header">

                <div class="row mb-1 pl-3">
                  <div class="col col-1 text-center">
                       <div class="product-img" style="height: 40px;">
                           <img id ="fotourl" style="max-width:100%; border-radius: 5px; margin-left: auto; margin-right: auto; display: block; max-height:50px" src="{{  messageData.sender.foto }}" alt="">

                       </div>
                  </div>
                  <div class="col col-7 text-left mb-3" style="height: 40px;">
                      <div class="row">
                        <a class="text-danger" style="font-size: 16px;" href="{{ messageData.sender.url }}">{{ messageData.sender.name }}</a>
                      </div>
                  </div>
                </div>
            </div>
            <div class="card-body table-responsive" style="max-width: 100%; overflow-x: auto;overflow-y: auto">
                <table onLoad="windowscroll()" id = "MessageTable" name = "MessageTable" class="" style="width: 99%; white-space: nowrap;">
                    <tbody id="MessageTBody">
                        <tr hidden id="MessageTemplate">
                            <td>
                                <div class="row" style="padding-right: 10px; float: right; max-width: 400px; min-width: 200px; white-space: normal">
                                    <div class="col alert alert-primary">
                                        <span></span>
                                        <div style="font-size: 8px"><span></span></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% if messageData.messageList|length > 0 %}
                        {% for n in messageData.messageList %}
                            <tr>
                                <td>
                                {% if n.itsMe%}
                                    <div class="row" style="padding-right: 10px; float: right; min-width: 200px; max-width: 400px; white-space: normal">
                                        <div class="col alert alert-primary">
                                            {{n.text}}
                                            {% if n.object != "" %}
                                              <a class="text-danger"  style="font-size: 12px;" href="{{ n.object }}">Открыть заказ</a>
                                            {% endif %}
                                            <div style="font-size: 8px">{{n.created}}</div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row" style="float: left; min-width: 200px; max-width: 400px; white-space: normal;">
                                        <div class="col alert alert-secondary">
                                            {{n.text}}
                                            {% if n.object != "" %}
                                              <a class="text-danger"  style="font-size: 12px;" href="{{ n.object }}">Открыть заказ</a>
                                            {% endif %}
                                            <div style="font-size: 8px">{{n.created}}</div>
                                        </div>
                                    </div>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="text-center" align="center" id = 'EmptyTemplate'>
                            <div>
                                <img src="{% get_attribute 'STATIC_URL' %}main/img/1-2-grey.png">
                            </div>
                            <div>
                                <span class="article article-sm"> Нет ни одного сообщения </span>
                            </div>
                            <div>
                                <span> Чтобы начать диалог введите сообщение в поле и нажмите отправить</span>
                            </div>
                        </div>
                    {% endif %}
                        <tr id='MessagePosition'>
                            <td>
                                <p><a id = "position" name="position"></a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <form method="POST" name="form" id="form">
                    {% csrf_token %}
                    <input id = "dialogID" type="" name="dialogID" hidden value={{messageData.dialogID}}>
                    <div class="row">
                        <div class="col col-9">
                            <input placeholder = "Введите сообщение" id = "message" class="form-control" autocomplete="off" type="text" name="message" required="true">
                        </div>
                        <div class="col col-3">
                            <button class = "btn btn-danger container-fluid" type="submit">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script>


            $('#form').validate({
                submitHandler: function(form) {
                    sendmessage();
                }
            }
            );

            function addNewMessage(status, text) {

                {% if messageData.messageList|length == 0 %}
                    let emptyTemplate       = document.getElementById('EmptyTemplate');
                    emptyTemplate.hidden    = true;
                {% endif %}


                let messagePosition = document.getElementById('MessagePosition');
                let messageText     = document.getElementById('message');
                let messageTBody    = document.getElementById('MessageTBody');
                let messageTemplate = document.getElementById('MessageTemplate').cloneNode(true);

                messageText.value = '';

                messageTemplate.id      = '';
                messageTemplate.hidden  = false;



                if (status) {
                    data = JSON.parse(text);

                    if (data['status']){
                        messageTemplate.getElementsByTagName('span')[0].innerText = data['message']['text'];
                        messageTemplate.getElementsByTagName('span')[1].innerText = data['message']['created'];
                    }else{
                        messageTemplate.getElementsByTagName('span')[0].innerText = data['errors'];
                    }
                }
                else{
                    messageTemplate.getElementsByTagName('span')[0].innerText = text;
                }

                messageTBody.insertBefore(messageTemplate, messagePosition);
                location.href = ('#position');
            }

            function sendmessage() {

                var formData = new FormData();

                //Собираем конечный JSON
                var json = JSON.stringify({
                    dialogID: document.getElementById("dialogID").value,
                    message: document.getElementById("message").value,
                });

                // добавить к пересылке ещё пару ключ - значение
                formData.append("data", json);
                formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

                // отослать
                var xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function() { // (3)
                    if (xhr.readyState != 4) return;

                    if (xhr.status != 200) {
                        addNewMessage(false, xhr.statusText)
                    } else {
                        addNewMessage(true, xhr.responseText)
                    }
                }

                xhr.open("POST", "{% get_attribute 'HOME_PAGE' %}dialogs/", true);
                xhr.send(formData);
            }
        </script>
        </main>
    </div>

</body>
</html>
