{% load home_extras %}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8" >
        <title>EXPO</title>
        {% load static %}
        {% load home_extras %}
        {% include "includes/Links.html" %}
        {% include "includes/meter.html" %}
    </head>
    <body>

        <div style="background-color: slategray; text-align: center; color: white">
            <h3>История операций</h3>
        </div>
        <div class = 'container' style="">

            <div class="row mt-5 mb-5">
                <div class="col">
                    <div style="text-align: center"> Расход: <h3 class="text-danger">-2000р.</h3> </div>
                    <a class="btn btn-danger container-fluid">Добавить расход</a>
                </div>
                <div class="col">
                    <div style="text-align: center"> Приход: <h3 class="text-success">+5000р.</h3> </div>
                    <a class="btn btn-success container-fluid">Добавить приход</a>
                </div>

            </div>
        </div>

        <div style="background-color:lightgrey; text-align: center;">
            <h3>Детализация:</h3>
        </div>

        <div class="container">

            <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Дата</th>
                      <th scope="col">Статья</th>
                      <th scope="col">Сумма</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>

            </div>

        </div>
    </body>
</html>
