
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EXPO</title>
    {% load static %}
    {% load home_extras %}


    {% include "includes/Links.html" %}

    <script src="//code-ya.jivosite.com/widget.js" data-jv-id="rmtDUGLtpm" async></script>

</head>
<body>
    {% include "includes/navbar.html" %}

    {% block content %}
    {% endblock %}
</body>
</html>
